@keyframes shake {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.9;
  }
  70% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes timer {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}

@keyframes slide-from-right {
  from {
    opacity: 0.3;
    transform: translateX(32px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-from-top {
  from {
    opacity: 0.3;
    transform: translateY(-32px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
