.grid-rows-\[auto_51px_51px\] {
  grid-template-rows: auto 51px 51px;
}
.grid-rows-\[51px_auto_51px\] {
  grid-template-rows: 51px auto 51px;
}
.grid-rows-\[51px_51px_auto\] {
  grid-template-rows: 51px 51px auto;
}
