@import "./tailwind.scss";
@import "tools/mediaQueries";
// Settings
@import "settings/global";
@import "settings/colors";
@import "settings/typography";

// Generic
@import "generic/box-sizing";
@import "generic/normalize";
@import "generic/reset";
@import "utils/utils";
@import "generic/headings.scss";
@import "utils/button.scss";

html [class*="bg-"]:not(.transition-all) {
  transition: background-color 200ms linear;
}
.next {
  left: 0;
  cursor: pointer;
  svg {
    transform: rotate(90deg);
  }
}
.prev {
  right: 0;
  cursor: pointer;
  svg {
    transform: rotate(270deg);
  }
}
// generate class of colors
body .h-screen {
  height: calc(100 * var(--vh)) !important;
  max-height: calc(100 * var(--vh)) !important;
}

:root [class*="overflow"] {
  &::after {
    content: "";
    margin-bottom: 2px;
  }
  ::-webkit-scrollbar-thumb {
    transition: all 200ms linear;
  }
  &:hover {
    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
  }
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    transition: width 200ms ease-in;
  }
}
